#map {
    height: 500px;
    width: 500px;
    float: right;
    margin-top: 20px;
}

body {
    background: rgba(33, 42, 49, 0.9);
    font-family: "Titillium Web", sans-serif;
}

h1 {
    text-align: center;
}
#data {
    display: inline;
}
#info {
    margin-top: 20px;
    width: 500px;
    padding: 1.5em;
    float: left;
}

.container {
    color: white;
}

h4 {
    margin-bottom: 50px;
    font-weight: 300 bold;
}
span {
    font-size: 50px;
    color: red;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
#time {
    margin-top: 50px;
    font-size: 25px;
    font-weight: 300 bold;
}

:root {
    --ne_red: rgb(160, 24, 24);
}

@keyframes glowing {
    0% { text-shadow: 0 0 -10px red; }
    40% { text-shadow: 0 0 20px red; }
    60% { text-shadow: 0 0 20px red; }
    100% { text-shadow: 0 0 -10px red; }
  }
  


.tr-title {
    font-size: 4em;
    text-shadow: 2px 2px 5px var(--ne_red);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
  }

  .glowing {
    animation: glowing 1000ms infinite;
  }

  .tr-title.glow {
      text-shadow: 0 -4px 20px red;
  }

  #waiting:after {
    content: ' .';
    animation: dots 1.5s steps(5, end) infinite;}
  
  @keyframes dots {
    0%, 20% {
      color: rgba(0,0,0,0);
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    40% {
      color: white;
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    60% {
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 white;}}

