*, *:before, *:after {
  box-sizing: border-box;
}
  html {
    overflow-y: scroll;
  }

  :root {
    --ne_red: rgb(160, 24, 24);
  }
  
  
  body {
    background: eggshell;
    color: white;
    font-family: "Titillium Web", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: var(--ne_red);
    transition: 0.5s ease;
  }
  a:hover {
    color: var(--ne_red);
  }
  
  .form {
    background: rgba(33, 42, 49, 0.9);
    padding: 40px;
    padding-top: 5px;
    max-width: 600px;
    margin: 40px auto;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 20px 5px black;
  }
  
.v-label {
  margin-bottom: 20px;
}
  
  .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
  }
  .tab-group:after {
    content: "";
    display: table;
    clear: both;
  }
  .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .tab-group li a:hover {
    background: var(--ne_red);
    color: #ffffff;
  }
  .tab-group .active a {
    background: var(--ne_red);
    color: #ffffff;
  }
  
  .tab-content > div:last-child {
    display: none;
  }
  
  h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
  }
  
  label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
  }
  label .req {
    margin: 2px;
    color: var(--ne_red);
  }
  
  label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
  }
  label.active .req {
    opacity: 0;
  }
  
  label.highlight {
    color: #ffffff;
  }
  
  input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #dbe6e4;
    color: #ffffff;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
  }

 
  input:focus, textarea:focus {
    outline: 0;
    border-color: var(--ne_red);
  }
  
  textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
  }
  
  .field-wrap {
    position: relative;
    margin-bottom: 40px;
  }
  
  .top-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
  .top-row > div:last-child {
    margin: 0;
  }
  
  .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: var(--ne_red);
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
  }
  .button:hover, .button:focus {
    background: var(--ne_red);
  }
  
  .button-block {
    display: block;
    width: 100%;
  }
  
  .forgot {
    margin-top: -20px;
    text-align: right;
  }
  
  .tr-title {
    font-size: 4em;
    text-shadow: 2px 2px 5px var(--ne_red);
    color: white;
    margin-bottom: 0em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  
  p {
    color: white;
  }
  
  .landing {
    margin: 15px;
    display: flex;
    height: 80vh;
  }
  .chat {
    display: inline-block;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-basis: 25%;
    padding: 20px;
    border-style: solid;
    border-width: medium;
    border-radius: 8px;
    border-color: var(--ne_red);
    width:100px;
    max-height:80vh;
    overflow-y: auto;
  }
  
  .chat-t-holder, .stat-t-holder{
    width: 100%;
    text-align: center; 
    border-bottom: 1px solid var(--ne_red);
  }
  
  .chat-title, .stat-title {
    margin: auto
  }
  
  
  .stats {
    flex-grow: 1;
    flex-basis: 25%;
    padding: 20px;
    border-style: solid;
    border-width: medium;
    border-radius: 8px;
    border-color: var(--ne_red);
    width:100px;
    max-height:80vh;
    overflow-y: auto;
  }
  
  .lobbies {
    display: flex;
    flex-grow: 2;
    flex-basis: 50%;
    flex-wrap: wrap;
    margin: 5px;
    align-content: flex-start;
    border-style: solid;
    border-width: medium;
    border-radius: 8px;
    border-color: var(--ne_red);
    width:100px;
    max-height: 80vh;
    overflow-y: auto;
  }
  .lobby {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    flex-basis: 30%;
    background-color: rgba(19, 35, 47, 0.9);
    text-align: center;
    border-style: solid;
    border-width: medium;
    width: 25%;
    height: fit-content;
    border-radius: 8px;
    border-color: var(--ne_red);
  }
  
  .join {
    font-size: 1em;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
  }
  
  .lobby p {
    margin-top: 10px;
  }
  
  .lobby-pic {
    display:block;
    margin:auto;
    height: auto; /* Make sure images are scaled correctly. */
    width: 20%; /* Adhere to container width. */
    display:block;
    border-radius: 20px;
  }
  
  .new-lobby {
    flex-basis: 100%;
    margin: 10px;
    display: block;
    flex-grow: 3;
    border-radius: 10px;
  }
  
  .lobby:hover {
    transition: .25s ease;
    box-shadow: 0 1px 30px 1px var(--ne_red);
  }
  
  .game {
    padding: 20px;
    margin: auto;
    display: none;
    height: auto;
  }
  
  .board {
    flex-grow: 2; 
    flex-basis: 50%;
    flex-wrap: wrap;
    padding-bottom: 20px;
    height: 80vh;
    margin: 5px;
    margin-top: 0px;
    border-style: solid;
    border-width: medium;
    border-radius: 8px;
    border-color: var(--ne_red);
    color: white;
  }
  
  .option-lab {
    display: inline-block;
    color: white;
    width: 140px;
    position: inherit;
    text-align: center;
  }
  
  .options {
    width: 100%;
    text-align: center;
  }
  
  select {
    outline-color: var(--ne_red);
  }
  
  .waiting {
    
  }
  
  .icon-holder {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  
  .form-control {
    color: white;
    background-color: var(--ne_red);
    margin: auto;
    
  }
  
  .form-group {
    width: 20%;
    display: inline-block;
    text-align: center;
  }
  
  .p-icon, .num-players {
    margin: auto;
    font-size: 2.5em;
  }
  
  .glowing-holder {
    text-align: center;
    width: 100%;
  }
  
  .glowing {
    margin:auto;
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -ms-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
  }
  
  .glowing:hover,
  .glowing.glow {
      text-shadow: 0 -2px 15px red;
  }
  
  
  .glowing:after {
    content: ' .';
    animation: dots 1.5s steps(5, end) infinite;}
  
  @keyframes dots {
    0%, 20% {
      color: rgba(0,0,0,0);
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    40% {
      color: white;
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    60% {
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 white;}}
  
  
  .playing {
    display: none;
  }
  
  .question {
    text-align: center;
    width: 100%;
    padding: 20px;
    justify-content: flex-start;
  }
  
  .question-text {
    margin: auto;
    font-size: 1.5em;
  }
  
  .answers {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 100%;
  }
  
  .answer {
    display: inline-block;
    padding: 5px;
    height: 80px;
    flex-basis: 45%;
    width: 25%;
    margin: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
  
  
  
  .t-icon, .timer {
    margin: auto;
    margin-bottom: 20px;
    color: rgb(236, 52, 52);
    font-size: 5em;
  }
  
  .leave-holder {
    display: inline;
    text-align: left;
    width: 15%;
    height: 10%;
    margin: 5px;
  }
  
  .leave-game {
    display: inline;
    font-size: 1em;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color:  rgba(160, 179, 176, 0.25);
  }
  
  .leave-game:hover {
    background-color: grey;
  }
  
  .disabled, .disabled:hover {
    background-color: rgb(173, 34, 34);
    cursor: not-allowed;
  }
  

  .pv-title {
    margin: 5px;
    padding-top: 10px;
  }
  
  
  
  
  